<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class = "info">
  <h1 style="text-align: center">About Us</h1>
  <br>
      {% for about in aboutus: %}
      {% set name = about["name"] %}
      {% set image = about["image"] %}
      {% set grade = about["grade"] %}
      {% set funfact = about["funfact"] %}
      <h3 style="text-align: center;">Name: {{name}}</h3>
      <img src="{{ url_for('static', filename= image) }}" style="float: center;">
      <li style="text-align: center;">Grade: {{grade}}</li>
      <li style="text-align: center;">About: {{funfact}}</li>
      <br>
</div>
    {% endfor %}

{% endblock %}
