
<!DOCTYPE html>
<!--about us page-->
{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}

<div class = "info">
    <h1>About Us</h1>
    <br>
    {% for about in aboutus: %} <!-- for loop displays the data -->
    {% set name = about["name"] %}
    {% set image = about["image"] %}
    {% set grade = about["grade"] %}
    {% set funfact = about["funfact"] %}
    <h3>{{name}}</h3>
    <img src="{{ url_for('static', filename= image) }}">
    <li>Grade: {{grade}}</li>
    <li>A little about them: {{funfact}}</li>
    <br>
</div>

{% endfor %}

{% endblock %}
