<!DOCTYPE html>
{% extends "base.html" %} {% block title %} Add Recipes
<!-- text on the page tab -->
{% endblock %} {% block content %}

<br>
<br>
<div class="row justify-content-center">
    <div class="col-10" style="text-align: center;">
        <h1>RECIPES</h1>
    </div>
</div>
<br>


<!-- Table display,  "table" variable and rows with "dictionary elements" are expected -->
<table>
    <tr>
        <th>ID</th>
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Steps</th>
        <th>Creator Name</th>
    </tr>
    <!-- Loop through rows in table -->
    {% for row in table %}
    <!--
    Prepare table for display
        caution: phone number needs "~" format step to force type to string
    -->

    <tr>
        <th>{{ row['id'] }}</th>
        <th>{{ row['recipe_name'] }}</th>
        <th>{{ row['ingredients'] }}</th>
        <th>{{ row['steps'] }}</th>
        <th>{{ ['creator_name'] }}</th>
    </tr>
    {% endfor %}
</table>


<!-- create recipes section-->
</p>
<br>
<h1>Create A Recipe</h1>
<div class = "add">
  <form mehtod = 'POST' ID = 'create' action={{url_for('.create')}}>
    <table>
      <tr>
<!--th is a header in a table -->
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Steps</th>
        <th>Creator (Your Name)</th>
      </tr>
      <tr>
        <th><input type="text" name="recipe_name">
        </th>
        <th>
            <input type="text" name="ingredients">
        </th>
        <th>
            <input type="text" name="steps">
        </th>
        <th><input type="text" name="creator">
        </th>
        <th><input type="submit" value="Create" style="margin-right: 250px;"></th>
      </tr>
    </table>
    <br>
  </form>


</div>

<div class = "read">
  <br>
  <h1>Read</h1>

</div>

</p>
<h1>Update</h1>
</p>
<h1>Delete</h1>

{% endblock %}
