
<!DOCTYPE html>
{% extends "base.html" %} {% block title %} Add Recipes
<!-- text on the page tab -->
{% endblock %} {% block content %}

<!-- makes the tables on the page-->
</p>
<table>

    <tr><!--th is a row in a table -->
        <th>Recipe #</th><!--th is a header in a table -->
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Steps</th>
        <th>Creator</th>
    </tr><!-- Loop through rows in table -->
    {% for row in table %}<!-- build elements in table -->

    <tr>
        <th>{{ row['recipenum'] }}</th>
        <th>{{ row['recipe_name'] }}</th>
        <th>{{ row['ingredients'] }}</th>
        <th>{{ row['steps'] }}</th>
        <th>{{ row['creator'] }}</th>
    </tr>
    {% endfor %}

</table>

<br>
<h1>Create</h1>
<div class = "add">
    <form mehtod = 'POST' ID = 'myForm' >
        <table>
            <tr>
                <!--th is a header in a table -->
                <th>Recipe Name</th>
                <th>Ingredients</th>
                <th>Steps</th>
                <th>Creator (Your Name)</th>
            </tr>
            <tr>
                <th><input type="text" name="Recipe Name">
                    <br><br><br><br><br><br><br><br><br><br>
                </th>
                <th>
                    1. <input type="text" name="Ingredients">
                    <br>
                    2. <input type="text" name="Ingredients">
                    <br>
                    3. <input type="text" name="Ingredients">
                    <br>
                    4. <input type="text" name="Ingredients">
                    <br>
                    5. <input type="text" name="Ingredients">
                    <br>
                    6. <input type="text" name="Ingredients">
                    <br>
                    7. <input type="text" name="Ingredients">
                    <br>
                    8. <input type="text" name="Ingredients">
                    <br>
                    9. <input type="text" name="Ingredients">
                    <br>
                    10. <input type="text" name="Ingredients">
                    <br>
                </th>
                <th>1. <input type="text" name="Steps">
                    <br>
                    2. <input type="text" name="Steps">
                    <br>
                    3. <input type="text" name="Steps">
                    <br>
                    4. <input type="text" name="Steps">
                    <br>
                    5. <input type="text" name="Steps">
                    <br>
                    6. <input type="text" name="Steps">
                    <br>
                    7. <input type="text" name="Steps">
                    <br>
                    8. <input type="text" name="Steps">
                    <br>
                    9. <input type="text" name="Steps">
                    <br>
                    10. <input type="text" name="Steps">
                    <br>
                </th>
                <th><input type="text" name="Creator">
                    <br><br><br><br><br><br><br><br><br><br>
                </th>
            </tr>

        </table>
        <br>
        <input type="submit" value="Create" style="margin-right: 250px;">
    </form>

</div>

<div class = "read">
    <br>
    <h1>Read</h1>

</div>

</p>
<h1>Update</h1>
</p>
<h1>Delete</h1>

{% endblock %}
