<!-- Front end HTML Code for CRUD Database -->

<!DOCTYPE html>
{% extends "base.html" %} {% block title %} Add Recipes
<!-- text on the page tab -->
{% endblock %} {% block content %}

<!-- makes the tables on the page-->
</p>
<table>

    <tr><!--th is a row in a table -->
        <th>Recipe #</th><!--th is a header in a table -->
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Steps</th>
        <th>Creator</th>
    </tr><!-- Loop through rows in table -->
    {% for row in table %}<!-- build elements in table -->

    <tr>
        <th>{{ row['recipe_num'] }}</th>
        <th>{{ row['recipe_name'] }}</th>
        <th>{{ row['ingredients'] }}</th>
        <th>{{ row['steps'] }}</th>
        <th>{{ row['creator'] }}</th>
    </tr>
    {% endfor %}

</table>

<br>
<h1>Create</h1>
<div class = "add">
    <form mehtod = 'POST' ID = 'myForm' >
        <table>
            <tr>
                <!--th is a header in a table -->
                <th><label for="recipe_name">Recipe Name</label></th>
                <th><label for="ingredients">Ingredients</label></th>
                <th><label for="steps">Steps</label></th>
                <th><label for="creator">Creator (Your Name)</label></th>
            </tr>
            <tr>
                <th>
                    <input type="text" name="recipe_name" id="recipe_name" required>
                </th>
                <th>
                    <input type="text" name="ingredients" id="ingredients" placeholder="ex: eggs, sugar, flour" required>
                </th>
                <th>
                    <input type="text" name="steps" id="steps" placeholder="ex: 1. Preheat oven to 375..." required>
                </th>
                <th>
                    <input type="text" name="creator" id="creator" placeholder="First Last" required>
                </th>
            </tr>

        </table>
        <br>
        <input type="submit" value="Create" style="margin-right: 85px;">
    </form>

</div>

<div class = "read">
    <br>
    <h1>Read</h1>

</div>


<h1>Update</h1>
</p>
<h1>Delete</h1>

{% endblock %}
