<!-- Front end HTML Code for CRUD Database -->

<!DOCTYPE html>
{% extends "base.html" %} {% block title %} Add Recipes
<!-- text on the page tab -->
{% endblock %} {% block content %}

<!-- makes the tables on the page-->
</p>
<p style="text-align: center">Your Recipe:</p>
<table style="border: 1px solid black;">

    <tr><!--th is a row in a table -->
        <th>Recipe-</th><!--th is a header in a table -->
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Steps</th>
        <th>By:</th>
    </tr>
    <tr><!--th is a row in a table -->
        <td style="text-align: center">👩‍🍳</td>
        <td>{{recipename}}</td><!--th is a header in a table -->
        <td>{{youringredients}}</td>
        <td>{{steps}}</td>
        <td>{{creator}}</td>
    </tr>

    <!-- Loop through rows in table -->
    <!--{% for row in table %}

    <tr>
        <th>{{ row['ID'] }}</th>
        <th>{{ row['recipename'] }}</th>
        <th>{{ row['youringredients'] }}</th>
        <th>{{ row['steps'] }}</th>
        <th>{{ row['creator'] }}</th>
    </tr>
    {% endfor %}-->

</table>

<br>
<p style="text-align: center;">Create Your Recipe:</p>
<div class = "add">
    <form method = 'POST' ID = 'myForm' action={{url_for('.addrecipe')}}>
        <table>
            <tr>
                <!--th is a header in a table -->
                <th><label for="recipename">Recipe Name</label></th>
                <th><label for="youringredients">Ingredients</label></th>
                <th><label for="steps">Steps</label></th>
                <th><label for="creator">Creator (Your Name)</label></th>
            </tr>
            <tr>
                <th>
                    <input type="text" name="recipename" id="recipename" placeholder="ex: Blueberry Waffles" required>
                </th>
                <th>
                    <input type="text" name="youringredients" id="youringredients" placeholder="ex: eggs, sugar, flour" required>
                </th>
                <th>
                    <input type="text" name="steps" id="steps" placeholder="ex: 1. Preheat oven to 375..." required>
                </th>
                <th>
                    <input type="text" name="creator" id="creator" placeholder="First Last" required>
                </th>
            </tr>
        </table>
        <br>
        <input type="submit" value="Create" style="margin-right: 85px;">
    </form>

</div>


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

{% endblock %}
