<!DOCTYPE html>


{% extends "easteregg.html" %}

{% block content %}

<p>--Profiles--</p>

<nav class="sidenav" style="float: left">
    <a href="/profiles" style="text-align: left">> profiles home</a>
    <br>
    <a  href="/aliprofile" style="text-align: left">Ali Saad</a>
    <br>
    <a  href="/sophieprofile" style="text-align: left">Sophie Lee</a>
    <br>
    <a  href="/lindaprofile" style="text-align: left">Linda Long</a>
    <br>
    <a href="/evaprofile" style="text-align: left">Eva Gravin</a>
    <br>
</nav>

<div class="main">
    <p style="text-align: center">Ali's Profile</p>
    
    <p> I have solidified my basics in python coding and am working to achieve mastery</p>
    <p> I have grasped the concept of HTML5 forms and pages and the front/back end data exchanging. </p>
    <p> I am just now learning about the basics of curating data and am working on improving my workflow between front end and back end code. </p>
</div>

{% endblock %}
