<!DOCTYPE html>

{% extends "easteregg.html" %} {% block title %} Project Overview {% endblock %}

{% block content %}

<br>
<br>


<p>--CollgeBoard Requirements--</p>
<iframe width="1200" height="1000" src="https://docs.google.com/document/d/1pSWM7My2vx8SkNO_YXDOgsw0QYRJJ9xe8K9_YQ2Zq2U/edit" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>

<br>


</div>
</div>
</div>

<script type="text/javascript">
    function openForm() {
        document.getElementById("popout").style.display = "block";
        document.getElementById("clickhere").style.display = "none";
    }

    function closeForm() {
        document.getElementById("popout").style.display = "none";
        document.getElementById("clickhere").style.display = "block";
    }
</script>

{% endblock %}

