<!DOCTYPE html>

{% extends "easteregg.html" %} {% block title %} Project Overview {% endblock %}

{% block content %}

<br>
<br>


<p>--CollgeBoard Targets--</p>

<p>In consideration with the College Board Requirements, here are the big items we have in our website that fufill the standards:</p>

<br>

<p style="text-align: center">College Board Project Considerations</p>

<table style="width: 100%">
    <tr>
        <th>Big Idea #1</th>
        <th>Big Idea #2</th>
        <th>Big Idea #3</th>
        <th>Big Idea #4</th>
        <th>Big Idea #5</th>
    </tr>
    <tr>
        <td style="text-align: center">Creative Development</td>
        <td style="text-align: center">Data</td>
        <td style="text-align: center">Algorithms And Programming</td>
        <td style="text-align: center">Computing Systems And Networks</td>
        <td style="text-align: center">Impact Of Computing</td>
    </tr>
    <tr>
        <td>information</td>
        <td>recipe database, sign up form which stores users' info</td>
        <td>information</td>
        <td>information</td>
        <td>information</td>
    </tr>
</table>

<br>
<br>
<br>

<iframe width="1200" height="1000" src="https://docs.google.com/document/d/1pSWM7My2vx8SkNO_YXDOgsw0QYRJJ9xe8K9_YQ2Zq2U/edit" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<br>

<br>


</div>
</div>
</div>

<script type="text/javascript">
    function openForm() {
        document.getElementById("popout").style.display = "block";
        document.getElementById("clickhere").style.display = "none";
    }

    function closeForm() {
        document.getElementById("popout").style.display = "none";
        document.getElementById("clickhere").style.display = "block";
    }
</script>

<style>
    table, th, td {
         border: 1px solid black;
      }
</style>

{% endblock %}

