<!DOCTYPE html>

{% extends "base.html" %} {% block title %} Project Overview {% endblock %}

{% block content %}

<br>
<br>

<b>Contact Us</b>
<p class = "summary">Here you can find our contact information if you have any questions regarding our recipe website.</p>

<br>

<b>Phone Numbers</b>
<p class = "summary">Ali Saad: 858-353-9185</p>
<p class = "summary">Eva Gravin: 858-951-6230</p>
<p class = "summary">Sophie Lee: 858-753-3688</p>
<p class = "summary">Linda Long: 858-291-9712</p>

<b>Emails</b>
<p class = "summary">Ali Saad: ali2003.as@gmail.com</p>
<p class = "summary">Eva Gravin: ejeang3@gmail.com</p>
<p class = "summary">Sophie Lee: sophieleeajh@gmail.com</p>
<p class = "summary">Linda Long: lindal49692@stu.powayusd.com</p>

<br>

{% endblock %}
