<!DOCTYPE html>


{% extends "easteregg.html" %}

{% block content %}

<p>--Profiles--</p>

<nav class="sidenav" style="float: left">
    <a href="/profiles" style="text-align: left">> profiles home</a>
    <br>
    <a  href="/aliprofile" style="text-align: left">Ali Saad</a>
    <br>
    <a  href="/sophieprofile" style="text-align: left">Sophie Lee</a>
    <br>
    <a  href="/lindaprofile" style="text-align: left">Linda Long</a>
    <br>
    <a href="/evaprofile" style="text-align: left">Eva Gravin</a>
    <br>
</nav>

<div class="main">
    <p style="text-align: center;">Eva's Profile</p>
    <br>

        <ol style="text-align: center">I am learning how to create a database and curate data.</ol>
        <ol style="text-align: center">I know how to build a Python/Flask web server.</ol>
        <ol style="text-align: center">I can run a Flask server from a Raspberry Pi machine with a virtual environment, Gunicorn, and Nginx.</ol>
        <ol style="text-align: center">I can use some Linux commands in terminal.</ol>
        <ol style="text-align: center">I know how to port forward.</ol>
        <ol style="text-align: center">I am confident in using Jinja, Flask templates, app routes, and variables.</ol>
        <ol style="text-align: center">I have designed frontends with HTML, CSS, and Bootstrap.</ol>
        <ol style="text-align: center">I have a basis understanding of Python.</ol>
        <ol style="text-align: center">I have worked with REST APIS and have a basic understanding of how they work.</ol>


</div>

{% endblock %}