<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Recipe Generator
{% endblock %}

{% block content %}

<!-- <p style="text-align: right" onclick="drawScore()">Your ingredients: {{score}}</p> -->
<p style="text-align: center">Ingredients Inventory</p>
<p style="text-align: center">Click on an ingredient to buy it!</p>
<form action="/ingredients1">
    <input type="submit" value="Reset" ></form>
<br>
<p style="text-align: right;">Total Dollars: $ <button id="theirmoney" style="text-align: right;"></button></p>
<p id="user" style="text-align: right;"></p>
<p style="text-align: right">Amount: <button id="amount" style="text-align: right"></button></p>

<br>



<aside style="float: right">
    <p id="hearty">- Hearty Durian</p>
    <p id="palm">- Palm Fruit</p>
    <p id="apple">- Apple</p>
    <p id="wildberry">- Wildberry</p>
    <p id="hydromelon">- Hydromelon</p>
    <p id="spicy_pepper">- Spicy Pepper</p>
    <p id="voltfruit">- Voltfruit</p>
    <p id="fleet">- Fleet Lotus Seeds</p>
    <p id="mighty">- Mighty Bananas</p>
    <p id="bighearty_truffle">- Big Hearty Truffle</p>
    <p id="endura">- Endura Shroom</p>
    <p id="hylian">- Hylian Shrooom</p>
    <p id="stamella">- Stamella Shroom</p>
    <p id="sunshroom">- Sunshroom</p>
    <p id="chillshroom">- Chillshroom</p>
    <p id="zapshroom">- Zapshroom</p>
</aside>

<button type="button" class="btn btn-secondary container li" onclick="myOne()" id="one" style="float: center;">Hearty Durian</button>
<button type="button" class="btn btn-secondary container li" onclick="myTwo()" id="two" style="text-align: center;">Palm Fruit</button>
<button type="button" class="btn btn-secondary container li" onclick="myThree()" id="three" style="text-align: center;">Apple</button>
<button type="button" class="btn btn-secondary container li" onclick="myFour()" id="four" style="text-align: center;">Wildberry</button>
<button type="button" class="btn btn-secondary container li" onclick="myFive()" id="five" style="float: center;">Hydromelon</button>
<button type="button" class="btn btn-secondary container li" onclick="mySix()" id="six" style="text-align: center;">Spicy Pepper</button>
<button type="button" class="btn btn-secondary container li" onclick="mySeven()" id="seven" style="text-align: center;">Voltfruit</button>
<button type="button" class="btn btn-secondary container li" onclick="myNine()" id="nine" style="text-align: center;">Fleet Lotus Seeds</button>
<button type="button" class="btn btn-secondary container li" onclick="mySeventeen()" id="seventeen" style="float: center;">Mighty Bananas</button>
<button type="button" class="btn btn-secondary container li" onclick="myTen()" id="ten" style="text-align: center;">Big Hearty Truffle</button>
<button type="button" class="btn btn-secondary container li" onclick="myEleven()" id="eleven" style="text-align: center;">Endura Shroom</button>
<button type="button" class="btn btn-secondary container li" onclick="myTwelve()" id="twelve" style="text-align: center;">Hylian Shrooom</button>
<button type="button" class="btn btn-secondary container li" onclick="myThirteen()" id="thirteen" style="float: center;">Stamella Shroom</button>
<button type="button" class="btn btn-secondary container li" onclick="myFourteen()" id="fourteen" style="text-align: center;">Chillshroom</button>
<button type="button" class="btn btn-secondary container li" onclick="myFifteen()" id="fifteen" style="text-align: center;">Sunshroom</button>
<button type="button" class="btn btn-secondary container li" onclick="mySixteen()" id="sixteen" style="text-align: center;">Zapshroom</button>
<br>
<br>
<br>


<p style="text-align:center"><< Ingredient Information >></p>

    {% for ingredients in ingredients: %} <!-- for loop displays the data -->
    {% set box = ingredients["box"] %}
    {% set ingredient = ingredients["ingredient"] %}
    {% set category = ingredients["category"] %}
    {% set hearts = ingredients["hearts"] %}
    {% set price = ingredients["price"] %}

    <article class="HEARTY SOUP" id="id" style="text-align:center; float: center;">
        <p><u>{{ingredient}}</u></p>
        <p>category: {{category}}</p>
        <p>hearts: {{hearts}}</p>
        <p>price: {{price}}</p>
        <!-- <button id="collect" onclick="changeColor()">Collect</button> -->
        <!--<button type="button" class="btn btn-secondary clickhere" onclick="changeColor()" id="collectbutton">Collect</button>
        <button type="button" class="btn btn-secondary clickhere" onclick="revert()" id="collectedbutton" style= "display: none;">Collected</button>-->
    </article>

{% endfor %}


<!--<aside style="text-align: right;">
    <p>Amount:</p>
</aside>-->

{% set myList = ["hearty_durian", "palm_fruit", "apple", "wildberry"] %}
<br>
<!--<p>Ingredients List:</p>
{{myList}}
<p>Ingredients:</p>
{{ myList[0] ~ ',' }} {{ myList[1] ~ ',' }} {{ myList[2] ~ ',' }} {{ myList[3] }}
<br>
<br>-->




<script type="text/javascript">

    var score = 0
    document.getElementById('amount').innerHTML = score;

    var money = 50
    document.getElementById('theirmoney').innerHTML = money;

    var user = prompt("What is your name?");
    document.getElementById('user').innerHTML = user += "'s Ingredients:";

    function changeColor() {
        document.getElementById("id").style.backgroundColor = "lightgrey";
        document.getElementById("collectbutton").style.display = "none";
        document.getElementById("collectedbutton").style.display = "block";
        document.getElementById("collectedbutton").style.color = "green";
    }

     function revert() {
        document.getElementById("collectedbutton").style.display = "none";
        document.getElementById("collectbutton").style.display = "block";
        document.getElementById("id").style.backgroundColor = "white";
    }

    function myOne() {
        document.getElementById("one").style.backgroundColor = "lightgreen";
        document.getElementById("hearty").style.backgroundColor = "lightgreen";
        if (money < 1) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myTwo() {
        document.getElementById("two").style.backgroundColor = "lightgreen";
        document.getElementById("palm").style.backgroundColor = "lightgreen";
        if (money < 4) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myThree() {
        document.getElementById("three").style.backgroundColor = "lightgreen";
        document.getElementById("apple").style.backgroundColor = "lightgreen";
        if (money < 1) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myFour() {
        document.getElementById("four").style.backgroundColor = "lightgreen";
        document.getElementById("wildberry").style.backgroundColor = "lightgreen";
        if (money < 3) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myFive() {
        document.getElementById("five").style.backgroundColor = "lightgreen";
        document.getElementById("hydromelon").style.backgroundColor = "lightgreen";
        if (money < 3) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function mySix() {
        document.getElementById("six").style.backgroundColor = "lightgreen";
        document.getElementById("spicy_pepper").style.backgroundColor = "lightgreen";
        if (money < 5) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function mySeven() {
        document.getElementById("seven").style.backgroundColor = "lightgreen";
        document.getElementById("voltfruit").style.backgroundColor = "lightgreen";
        if (money < 7) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myEight() {
        document.getElementById("eight").style.backgroundColor = "lightgreen";
        document.getElementById("bighearty_radish").style.backgroundColor = "lightgreen";
        if (money < 2) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myNine() {
        document.getElementById("nine").style.backgroundColor = "lightgreen";
        document.getElementById("fleet").style.backgroundColor = "lightgreen";
        if (money < 5) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myTen() {
        document.getElementById("ten").style.backgroundColor = "lightgreen";
        document.getElementById("bighearty_truffle").style.backgroundColor = "lightgreen";
        if (money < 8) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myEleven() {
        document.getElementById("eleven").style.backgroundColor = "lightgreen";
        document.getElementById("endura").style.backgroundColor = "lightgreen";
        if (money < 6) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function mySeventeen() {
        document.getElementById("seventeen").style.backgroundColor = "lightgreen";
        document.getElementById("mighty").style.backgroundColor = "lightgreen";
        if (money < 5) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }


    function myTwelve() {
        document.getElementById("twelve").style.backgroundColor = "lightgreen";
        document.getElementById("hylian").style.backgroundColor = "lightgreen";
        if (money < 3) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myThirteen() {
        document.getElementById("thirteen").style.backgroundColor = "lightgreen";
        document.getElementById("stamella").style.backgroundColor = "lightgreen";
        if (money < 5) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myFourteen() {
        document.getElementById("fourteen").style.backgroundColor = "lightgreen";
        document.getElementById("chillshroom").style.backgroundColor = "lightgreen";
        if (money < 4) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function myFifteen() {
        document.getElementById("fifteen").style.backgroundColor = "lightgreen";
        document.getElementById("sunshroom").style.backgroundColor = "lightgreen";
        if (money < 4) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }

    function mySixteen() {
        document.getElementById("sixteen").style.backgroundColor = "lightgreen";
        document.getElementById("zapshroom").style.backgroundColor = "lightgreen";
        if (money < 4) {

            document.getElementById('theirmoney').innerHTML = 0;

        }
        else {

            console.log(++score);
            document.getElementById('amount').innerHTML = score;
            console.log(--money);
            console.log(--money);
            console.log(--money);
            console.log(--money);
            document.getElementById('theirmoney').innerHTML = money;

        }
    }


</script>

{% endblock %}
