<!DOCTYPE html>


{% extends "easteregg.html" %}

{% block content %}

<p>--Profiles--</p>

<nav class="sidenav" style="float: left">
    <a href="/profiles" style="text-align: left">profiles home</a>
    <br>
    <a  href="/aliprofile" style="text-align: left">Ali Saad</a>
    <br>
    <a  href="/sophieprofile" style="text-align: left">Sophie Lee</a>
    <br>
    <a  href="/lindaprofile" style="text-align: left">Linda Long</a>
    <br>
    <a href="/evaprofile" style="text-align: left">Eva Gravin</a>
    <br>
</nav>

<div class="main">
    <p style="text-align: center">Linda's Profile</p>
</div>

{% endblock %}