<!DOCTYPE html>


{% extends "easteregg.html" %}

{% block content %}

<p>--Profiles--</p>

<nav class="sidenav">
    <a href="/profiles" style="text-align: left">> profiles home</a>
    <br>
    <a  href="aliprofile" style="text-align: left">Ali Saad</a>
    <br>
    <a  href="/sophieprofile" style="text-align: left">Sophie Lee</a>
    <br>
    <a  href="/lindaprofile" style="text-align: left">Linda Long</a>
    <br>
    <a href="/evaprofile" style="text-align: left">Eva Gravin</a>
    <br>
</nav>

{% endblock %}