<!DOCTYPE html>
<head>

    <title> recipes </title>

    <link rel="shortcut icon" href="https://dl.dropbox.com/s/y1bxdqaqjzlekeu/smiley%20face%20tab%20icon.png">
    <link rel="shortcut icon" href="{Favicon}">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">

    <link rel="shortcut icon" href="{Favicon}">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">

    <link href='https://fonts.googleapis.com/css?family=Fraunces:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://static.tumblr.com/p0knose/fW7nwe95q/normalize.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Alata|Regular:400,400i,700,700i' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=B612|B612+Mono:400,400i,700,700i' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://static.tumblr.com/fuu6t9w/eubml0pm0/jquery.isotope.min.js"></script>
    <script src="https://static.tumblr.com/aptzszz/s5fp15zyp/candlelight.js"></script>

    <style type="text/css">

        :root {
            --bg-color:#fbfbf9;
            --text:#1a1a18;
            --accent:#b4c6df;
            --accent-text:#0f0a0a;
        }

        @-webkit-keyframes fadein {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }

        @-moz-keyframes fadein {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }

        @keyframes fadein {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }

        /* scrollbar */

        ::-webkit-scrollbar {
            width:10px;
            height:10px;
        }

        ::-webkit-scrollbar-thumb {
            background:var(--accent);
            border:4px solid var(--bg-color);
            border-width:0 4px;
        }

        ::-webkit-scrollbar-track-piece {
            background:var(--box-two);
            border:4px solid var(--bg-color);
            border-width:0 4px;
        }

        a,.button {
            transition:0.2s ease-in;
            -webkit-transition:0.2s ease-in;
            -moz-transition:0.2s ease-in;
        }

        b,strong {color:#444;}

        a:hover {
            color:#444;
            text-decoration:none;
        }

        body {
            background:#fff;
            font-family:'Fraunces', serif;
            font-size:14px;
            font-weight:300;
            line-height:190%;
            color:#767676;
            -webkit-animation-name: fadein;
            -webkit-animation-duration: 1s;
            -moz-osx-font-smoothing:grayscale;
            -webkit-font-smoothing:antialiased;
            font-smoothing:antialiased;
        }

        a {
            color:#a4afc1;
            text-decoration:none;
        }

        h1 {
            font-weight:400;
            color:#444;
            font-size:16px;
            display:inline;
            border-bottom:1px solid #a4afc1;
        }

        header a,h1 {margin-right:7px;}

        header a:first-of-type, article a:first-of-type {margin-left:7px;}

        header {
            width:860px;
            margin:auto;
            font-family: Alata;
        }

        .button {
            background:#fff;
            border:0;
            border-radius:0;
            outline:0;
            padding:0;
            display:inline-block;
            cursor:help;
            text-shadow:none;
            box-shadow:none;
            line-height:inherit;
            color:#767676;
            font-size:inherit;
            font-family:inherit;
            letter-spacing:inherit;
            margin-right:10px;
        }

        .button:hover {color:#a4afc1;}
        .button:active,.button.is-checked {color:#444;}
        .button-group:last-of-type {border:none;}
        .button-group:first-of-type {margin-top:20px;}

        article {
            position:relative;
            width:260px;
            margin:20px;
            box-sizing:border-box;
            padding:15px;
            border:1px solid #eee;
            display:inline-block;
            transition-duration:.35s;
            -moz-transition-duration:.35s;
            -webkit-transition-duration:.35s;
            -o-transition-duration:.35s;
        }

        section {margin-top:40px;}
        .fave:after{
            font-size:10px;
            top:2px;
            right:5px;
            content:"\e12c";
            position:absolute;
            color:#aa4271;
            font-family:'saturnicons';
        }

        .complete:before {
            font-size:10px;
            top:2px;
            right:5px;
            content:"\e086";
            position:absolute;
            color:#4286f4;
            font-family:'saturnicons';
        }

        /* filters & tag system */

        .d i {color:#444;display:block;}
        .d {
            margin:10px 0px;
            display:block;
            position:center;
        }

        .tags i {margin-right:5px;}
        .tags i:before {content:'#';}

        span {
            background:#fafafa;
            margin:0px 2px 10px;
            padding:5px;
            border:1px solid #eee;
            color:#a4afc1;
            width:calc(32% - 16px);
            text-align:center;
            display:inline-block;
        }

        .tags {
            margin:10px -15px -15px;
            background:#fafafa;
            padding:5px 15px;
            border-top:1px solid #eee;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .filters {
            width:60vw;
            margin:50px auto 30px;
        }

        /* hover cursor */

        * { cursor: url(https://i.imgur.com/dHusUiR.png),auto }
        a:hover { cursor: url(https://i.imgur.com/ZM41vky.png),progress!important }
        .button:hover { cursor: url(https://i.imgur.com/ZM41vky.png),progress!important }

        /* header */

        header {
            width:60vw;
            margin:90px auto 30px;
        }

        header > * {display:inline-block;}

        header h1 {
            font:36px/45px "Alata";
            color:var(--accent);
            margin:0;
            text-transform:uppercase;
            letter-spacing: 8px;
        }

        header nav {
            float:right;
            line-height:45px;
            text-transform:lowercase;
        }

        header nav a {
            position:relative;
            display:inline-block;
            margin:0 5px;
            line-height:100%;
            padding:5px 4px 5px 0;
            color:var(--text);
        }

        header nav a::after {
            content:"";
            display:block;
            position:absolute;
            width:3px;
            height:3px;
            bottom:6px;
            right:0px;
            transition:
                    width 0.5s ease-in-out,
                    padding 0.5s ease-in-out,
                    bottom 0.3s ease-in-out 0.5s;
            background:var(--accent);
            border-radius:3px;
        }

        header nav a:hover {color:var(--accent-text);}

        header nav a:hover::after {
            width:100%;
            bottom:0px;
            padding:0 2px 0 0;
        }

    </style>
</head>

<body>

<header>
    <h1>recipe box</h1>
    <nav id="links">
        <a href="/">home</a>
        <a href="/recipes">recipes</a>
        <a href="/ingredients1">ingredients</a>
        <a href="/addtable">add</a>
        <a href="/submit">submit</a>
        <a href="/about">about</a>
        <a href="/form">sign up</a>
        <a href="/customersupport">support</a>
        <a href="/contact">contact</a>
    </nav>
</header>

<!--filter tags-->

<div class="filters">
    <div class="button-group js-radio-button-group" data-filter-group="buff">
        <b><button class="button is-checked" data-filter="">BUFF</button></b>
            <button class="button" data-filter=".NONE"> none </button>
            <button class="button" data-filter=".CHILLY"> chilly </button>
            <button class="button" data-filter=".ELECTRO"> electro </button>
            <button class="button" data-filter=".ENDURING"> enduring </button>
            <button class="button" data-filter=".ENERGIZING"> energizing </button>
            <button class="button" data-filter=".HASTY"> hasty </button>
            <button class="button" data-filter=".HEARTY"> hearty </button>
            <button class="button" data-filter=".MIGHTY"> mighty </button>
            <button class="button" data-filter=".SNEAKY"> sneaky </button>
            <button class="button" data-filter=".SPICY"> spicy </button>
            <button class="button" data-filter=".TOUGH"> tough </button>
    </div>

    <div class="button-group js-radio-button-group" data-filter-group="category">
        <b><button class="button is-checked" data-filter="">CATEGORY</button></b>

            <button class="button" data-filter=".SOUP"> soup </button>
            <button class="button" data-filter=".RICE"> rice </button>
            <button class="button" data-filter=".VEGETABLES"> vegetables </button>
            <button class="button" data-filter=".MEAT"> meat </button>
        <button class="button" data-filter=".SEAFOOD"> seafood </button>
        <button class="button" data-filter=".DESSERT"> desserts </button>
            <button class="button" data-filter=".OTHER"> other </button>

    </div>
</div>

<!--end filters-->

<section>

    <article class="TOUGH SOUP">

        <h1>pumpkin stew</h1><i>カボチャシチュー</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Pumpkin-Stew.png" width="100" height="100" class="center">
            Simply simmer a fortified pumpkin to make this dish. A favorite in Kakariko Village.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fortified-pumpkin.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" width="25" height="25"></span>

    </article>


    <article class="ENDURING ENERGIZING HASTY TOUGH SOUP VEGETABLES">

        <h1>veggie cream soup</h1><br><i>ニンジンシチュー</i>

        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Veggie-Cream-Soup.png" width="100" height="100" class="center">
            This creamy soup showcases the sweetness of vegetables in a veritable taste explosion.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" alt="hylian rice" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" alt="goat butter" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" alt="goron spice" width="25" height="25"></span>

    </article>


    <article class="NONE DESSERT">

        <h1>apple pie</h1><i>アップルパイ</i>

        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Apple-Pie.png" width="100" height="100" class="center">
            The crispy, flaky pie crust and sweet apples are a match made in heaven.
        </div>

        <span><img src="https://dl.dropbox.com/s/p4ww1l67hupabr2/apple.png" alt="apple" width="25" height="25"></span>
        <span><img src="https://dl.dropbox.com/s/gv6asy9t2yg7pn0/cane-sugar.png" width="25" height="25"></span>
        <span><img src="https://dl.dropbox.com/s/3jxrogdpipjbjv5/tabantha-wheat.png" alt="tabantha wheat" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" alt="goat butter radish" width="25" height="25"></span>

    </article>


    <article class="ENDURING ENERGIZING HASTY DESSERT">

        <h1>carrot cake</h1><i>ニンジンケーキ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Carrot-Cake.png" alt="carrot cake" width="100" height="100" class="center">
            Even those who don't like carrots tend to enjoy the mild sweetness of this cake.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/big-hearty-radish.png" alt="big hearty radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-radish.png" alt="hearty radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hydromelon.png" alt="hydromelon" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/voltfruit.png" alt="voltfruit radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>

    </article>


    <article class="NONE DESSERT">

        <h1>egg pudding</h1><i>たまごプリン</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Egg-Pudding.png" width="100" height="100" class="center">
            Made by cooking eggs and milk in a special mold, its soft texture melts in your mouth.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bird-egg.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/cane-sugar.png" width="25" height="25"></span>

    </article>


    <article class="NONE DESSERT">

        <h1>egg tart</h1><i>エッグタルト</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Egg-Tart.png" width="100" height="100" class="center">
            You'll know this simple dessert is done baking when it smells just delightful.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bird-egg.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/cane-sugar.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" width="25" height="25"></span>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SEAFOOD">

        <h1>fish pie</h1><i>フィッシュパイ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fish-Pie.png" width="100" height="100" class="center">
            A mainstay in any fisherman's home, the crisp crust pairs well with the fishy flavor.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" width="25" height="25"></span>

        <div class="tags">
            <i>use different types of seafood for different buffs!</i>
        </div>

    </article>


    <article class="ENDURING ENERGIZING HASTY SOUP">

        <h1>carrot stew</h1><i>ニンジンシチュー</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Carrot-Stew.png" width="100" height="100" class="center">
            This simple stew sat simmering for a long time to bring out the sweetness of the carrots.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/endura-carrot.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/swift-carrot.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>

        <div class="tags">
            <i>either carrot works fine!</i>
        </div>

    </article>


    <article class="MIGHTY TOUGH ENERGIZING SEAFOOD">

        <h1>crab omelet with rice</h1><br><i>カニ玉チャーハン</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Crab-Omelet-With-Rice.png" width="100" height="100" class="center">
            The fluffy crab legs pair perfectly with the rice for a truly scrumptious dish.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bird-egg.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/razorclaw-crab.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/ironshell-crab.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bright-eyed-crab.png" width="25" height="25"></span>

        <div class="tags">
            <i>any crab can be used!</i>
        </div>

    </article>


    <article class="MIGHTY TOUGH ENERGIZING SEAFOOD">

        <h1>crab risotto</h1><i>カニリゾット</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Crab-Risotto.png" width="100" height="100" class="center">
            The Goron spice used in preparing this crab pairs perfectly with the flavor of the meat.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bird-egg.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/razorclaw-crab.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/ironshell-crab.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bright-eyed-crab.png" width="25" height="25"></span>

        <div class="tags">
            <i>any crab can be used!</i>
        </div>

    </article>


    <article class="MIGHTY TOUGH ENERGIZING SEAFOOD">

        <h1>crab stir-fry</h1><i>炒めガニ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Crab-Stir-Fry.png" width="100" height="100" class="center">
            The Goron spice used in preparing this crab pairs perfectly with the flavor of the meat.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bird-egg.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/razorclaw-crab.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/ironshell-crab.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bright-eyed-crab.png" width="25" height="25"></span>

        <div class="tags">
            <i>any crab can be used!</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SOUP">

        <h1>cream of mushroom</h1><i></i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Cream-of-Mushroom-Soup.png" width="100" height="100" class="center">
            The creamy mushroom and vegetable soup is so chunky it eats like a meal!
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" alt="rock salt" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-shroom.png" alt="any mushroom" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hyrule-herb.png" alt="any herb/flower/veg" width="25" height="25"></span>

        <div class="tags">
            <i>any mushroom can be used!</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SOUP VEGETABLES">
        <h1>cream of vegetable soup</h1><i></i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Cream-of-Vegetable-Soup.png" width="100" height="100" class="center">
            The Goron spice used in this pilaf has given it a rich, spicy aroma.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" alt="rock salt" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hyrule-herb.png" alt="any herb/flower/veg" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/big-hearty-radish.png" width="25" height="25"></span>


        <div class="tags">
            <i>any vegetable, herb, or flower can be used!</i>
            <i>remember to use only one type!</i>
            <i>you can't stack different buffs</i>
        </div>

    </article>


    <article class="HEARTY SOUP">

        <h1>creamy heart soup</h1><br><i>ハートミルクスープ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Creamy-Heart-Soup.png" width="100" height="100" class="center">
            Enjoying this sweet soup with another person will bring you closer together.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/big-hearty-radish.png" alt="big hearty radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-radish.png" alt="hearty radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hydromelon.png" alt="hydromelon" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/voltfruit.png" alt="voltfruit radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH MEAT SOUP">

        <h1>creamy meat soup</h1><br><i>ハートミルクスープ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Creamy-Meat-Soup.png" width="100" height="100" class="center">
            Enjoying this sweet soup with another person will bring you closer together.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/big-hearty-radish.png" alt="big hearty radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-radish.png" alt="hearty radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hydromelon.png" alt="hydromelon" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/voltfruit.png" alt="voltfruit radish" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>

        <div class="tags">
            <i>any vegetable, herb, or flower can be used!</i>
            <i>use any meat available</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SOUP">

        <h1>creamy seafood soup</h1><br><i>ハートミルクスープ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Creamy-Seafood-Soup.png" width="100" height="100" class="center">
            Thick-cut chunks of seafood and stock provides a satisfying savoriness.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-blueshell-snail.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hyrule-herb.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" width="25" height="25"></span>

        <div class="tags">
            <i>any vegetable, herb, or flower can be used!</i>
            <i>use any seafood available</i>
        </div>

    </article>


    <article class="SPICY RICE VEGETABLES">

        <h1>curry pilaf</h1><i>カレーピラフ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Curry-Pilaf.png" width="100" height="100" class="center">
            The Goron spice used in this pilaf has given it a rich, spicy aroma.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" width="25" height="25"></span>

    </article>


    <article class="SPICY RICE VEGETABLES">

        <h1>curry rice</h1><i>カレーライス</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Curry-Rice.png" width="100" height="100" class="center">
            A favorite all over Hyrule, this simple dish has a flavor you just won't get tired of.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" width="25" height="25"></span>

    </article>


    <article class="NONE OTHER">

        <h1>dubious food</h1><i>微妙な料理	</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Dubious-Food.png" width="100" height="100" class="center">
            It's too gross to even look at. A bizarre smell issues forth from this heap. Eating it won't hurt you though...probably.
        </div>

        <div class="tags">
            <i>use any monster parts</i>
            <i>or insects</i>
            <i>why would you even cook this</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH MEAT">

        <h1>glazed meat</h1><i>カレーライス</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Glazed-Meat.png" width="100" height="100" class="center">
            The sweetness of the honey permeates the meat, giving it a complex taste profile.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/courser-bee-honey.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/raw-meat.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any meat</i>
        </div>

    </article>


    <article class="NONE DESSERT">

        <h1>honey candy</h1><i>カレーライス</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Honey-Candy.png" width="100" height="100" class="center">
            A natural sweet, brimming with nutrition and made by stewing fresh honey.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/courser-bee-honey.png" width="25" height="25"></span>

        <div class="tags">
            <i>simplest recipe in the game?</i>
        </div>

    </article>


    <article class="NONE DESSERT">

        <h1>honeyed apple</h1><i>カレーライス</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Honeyed-Apple.png" width="100" height="100" class="center">
            A juicy sweet-and-sour dish combining newly ripened apples with honey.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/apple.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/raw-meat.png" width="25" height="25"></span>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SEAFOOD">

        <h1>fish skewer</h1><i>串焼き魚</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fish-Skewer.png" width="100" height="100" class="center">
            A simple dish made by cooking chunks of fresh fish on a skewer.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-salmon.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any fish</i>
            <i>another one ingredient recipe</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SEAFOOD">

        <h1>copious fish skewers</h1><br><i>山盛串焼き魚</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Copious-Fish-Skewers.png" width="100" height="100" class="center">
            A simple dish made by cooking chunks of fresh fish on a skewer.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-bass.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hyrule-bass.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/sneaky-river-snail.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/ironshell-crab.png" width="25" height="25"></span>


        <div class="tags">
            <i>use any fish</i>
            <i>another one ingredient recipe</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SEAFOOD">

        <h1>fish & mushroom skewer</h1><br><i>串焼き魚キノコ添え</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fish-and-Mushroom-Skewer.png" width="100" height="100" class="center">
            A simple dish made by cooking skewered, fresh fish alongside fragrant mushrooms.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/stealthfin-trout.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/silent-shroom.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any fish</i>
            <i>use any mushroom</i>
            <i>make sure the buffs match!</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SPICY VEGETABLES">

        <h1>fragrant mushroom sauté</h1><br><i>香りキノコ炒め</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fragrant-Mushroom-Saute.png" width="100" height="100" class="center">
            The fragrant aroma of this sautéed spice and mushroom dish makes your mouth water.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/razorshroom.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any mushroom</i>
        </div>

    </article>


    <article class="MIGHTY VEGETABLES DESSERT">

        <h1>fried bananas</h1><i>あげバナナ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fragrant-Mushroom-Saute.png" width="100" height="100" class="center">
            Children love fried mighty bananas. The trick is frying them over very high heat.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/mighty-bananas.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/cane-sugar.png" width="25" height="25"></span>

    </article>


    <article class="NONE RICE">

        <h1>fried egg & rice</h1><i>目玉焼きライス</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fried-Egg-and-Rice.png" width="100" height="100" class="center">
            The soft egg yolk pairs well with the fresh rice in this simple dish.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/bird-egg.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any mushroom</i>
            <i>experiment by adding herbs?</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SPICY VEGETABLES">

        <h1>fried wild greens</h1><i>焼き山菜</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fried-Wild-Greens.png" width="100" height="100" class="center">
            A basic vegetable dish made by sautéing fresh wild plants.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-radish.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any vegetable, herb, or flower</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SPICY VEGETABLES">

        <h1>copious fried wild greens</h1><br><i>山盛焼き山菜</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Copious-Fried-Wild-Greens.png" width="100" height="100" class="center">
            A basic vegetable dish made by sautéing fresh wild plants.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/swift-carrot.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/swift-carrot.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/swift-violet.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/swift-violet.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any 4 different vegetables, herbs, or flowers</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SPICY VEGETABLES">

        <h1>fruit & mushroom mix</h1><br><i>果実のキノコあえ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fruit-and-Mushroom-Mix.png" width="100" height="100" class="center">
            This dish contrasts the sweetness of fruit with the savoriness of mushrooms.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/voltfruit.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/zapshroom.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any fruit</i>
            <i>use any mushroom</i>
            <i>make sure the buffs match!</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO HEARTY MIGHTY SPICY DESSERT">

        <h1>fruit pie</h1><i>果実のキノコあえ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fruit-Pie.png" width="100" height="100" class="center">
            A celebration isn't a celebration until this fruit-filled crust hits the table!
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/apple.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/wildberry.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/cane-sugar.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" width="25" height="25"></span>

        <div class="tags">
            <i>an apple is required!</i>
            <i>then use any other additional fruit</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY  DESSERT">

        <h1>fruitcake</h1><i>フルーツケーキ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Fruitcake.png" width="100" height="100" class="center">
            Making ample use of fruits found all over Hyrule, this cake is a must for celebrations.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/wildberry.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hydromelon.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/cane-sugar.png" width="25" height="25"></span>

        <div class="tags">
            <i>an apple/wildberry is required!</i>
            <i>then use any other additional fruit</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY  SPICY SPICY VEGETABLES">

        <h1>glazed mushrooms</h1><br><i>甘露煮キノコ</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Glazed-Mushrooms.png" width="100" height="100" class="center">
            The honey in this mushroom dish gives it a sweet, complex taste and a savory finish.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/courser-bee-honey.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/endura-shroom.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any mushroom</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY  SPICY SPICY SEAFOOD">

        <h1>glazed seafood</h1><i>甘露煮魚</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Glazed-Seafood.png" width="100" height="100" class="center">
            A seafood dish that you can actually wolf down whole!
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/courser-bee-honey.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/staminoka-bass.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any seafood</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY  SPICY SPICY SEAFOOD">

        <h1>glazed veggies</h1><i>甘露煮野菜</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Glazed-Veggies.png" width="100" height="100" class="center">
            Don't like the taste of vegetables? Simply sauté them in honey for a salty-sweet flavor!
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/courser-bee-honey.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/silent-princess.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any vegetable, flower, or herb</i>
            <i>want to make it spicy? add a spicy pepper!</i>
        </div>

    </article>


    <article class="CHILLY ELECTRO ENDURING ENERGIZING HASTY HEARTY MIGHTY  SPICY SPICY SEAFOOD">

        <h1>gourmet meat & rice bowl</h1><br>
        <i>極上ケモノ肉丼</i>
        <div class="d">
            <img src="https://www.guideofthewild.com/assets/images/cookingPot/meals/Gourmet-Meat-and-Rice-Bowl.png" width="100" height="100" class="center">
            Only the most carefully selected cuts of high-quality meats go into this dish.
        </div>

        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/raw-gourmet-meat.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" width="25" height="25"></span>
        <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" width="25" height="25"></span>

        <div class="tags">
            <i>use any vegetable, flower, or herb</i>
            <i>want to make it spicy? add a spicy pepper!</i>
        </div>

    </article>

</section>
</div>

</body>
