<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Recipe Generator
{% endblock %}

{% block content %}
<body>
 
<div class="filters">
 
<div class="button-group js-radio-button-group" data-filter-group="buff">
<button class="button is-checked" data-filter="">buff</button>

<button class="button" data-filter=".CHILLY"> chilly </button>
<button class="button" data-filter=".ELECTRO"> electro </button>
<button class="button" data-filter=".ENDURING"> enduring </button>
<button class="button" data-filter=".ENERGIZING"> energizing </button>
<button class="button" data-filter=".FIREPROOF"> fireproof </button>
<button class="button" data-filter=".HASTY"> hasty </button>
<button class="button" data-filter=".HEARTY"> hearty </button>
<button class="button" data-filter=".MIGHTY"> mighty </button>
<button class="button" data-filter=".SNEAKY"> sneaky </button>
<button class="button" data-filter=".SPICY"> spicy </button>
<button class="button" data-filter=".TOUGH"> tough </button>
</div>

<div class="button-group js-radio-button-group" data-filter-group="category">
<button class="button is-checked" data-filter="">category</button>

<button class="button" data-filter=".SOUP"> soup </button>
<button class="button" data-filter=".RICE"> rice </button>
<button class="button" data-filter=".VEGETABLES"> vegetables </button>
</div>
 
<!--end filters-->

</div>
</header>
 
<section>

<article class="HEARTY SOUP">
 
<h1>creamy heart soup</h1> ::
<a href="/">1</a>,
<a href="/">2</a>

<div class="d">
 
<i>restores hearts</i>
Enjoying this sweet soup with another person will bring you closer together.

</div>
 
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/big-hearty-radish.png" alt="big hearty radish" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hearty-radish.png" alt="hearty radish" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hydromelon.png" alt="hydromelon" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/voltfruit.png" alt="voltfruit radish" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>


<div class="tags">
<i>soup </i>
<i>vegetarian </i>
<i>tastes great! </i>
</div>
</article>
 

<article class="TOUGH SOUP">
 
<h1>pumpkin stew</h1> ::
<a href="/">1</a>,
<a href="/">2</a>
 
<div class="d">
 
<i>increases defence</i>
Simply simmer a fortified pumpkin to make this dish. A favorite in Kakariko Village.

</div>

    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fortified-pumpkin.png" alt="fortified pumpkin" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/tabantha-wheat.png" alt="tabantha wheat" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" alt="goat butter" width="25" height="25"></span>

 
<div class="tags">
<i>soup </i>
<i>defence boost </i>
<i>yum</i>
</div>
</article>

<article class="SPICY VEGETARIAN">

<h1>curry pilaf</h1> ::
<a href="link url">link</a>,
<a href="link url">anotha link</a>

<div class="d">

<i>warms you up!</i>
The Goron spice used in this pilaf has given it a rich, spicy aroma.

</div>

    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" alt="hylian rice" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" alt="goat butter" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" alt="goron spice" width="25" height="25"></span>

<div class="tags">
<i>lunch </i>
<i>no pref </i>
<i>おいしい！！</i>
</div>
</article>

<article class="CHILLY ELECTRO ENDURING ENERGIZING FIREPROOF HASTY HEARTY MIGHTY SNEAKY SPICY TOUGH SOUP">

<h1>cream of mushroom</h1> ::
<a href="link url">link</a>,
<a href="link url">anotha link</a>

<div class="d">

<i>use any shroom and herb/flower/veg</i>
The Goron spice used in this pilaf has given it a rich, spicy aroma.

</div>

    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/fresh-milk.png" alt="fresh milk" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/rock-salt.png" alt="rock salt" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-shroom.png" alt="any mushroom" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hyrule-herb.png" alt="any herb/flower/veg" width="25" height="25"></span>

    <div class="tags">
<i>lunch </i>
<i>no pref </i>
<i>おいしい！！</i>
</div>
</article>

<article class="SPICY VEGETARIAN">

<h1>curry pilaf</h1> ::
<a href="link url">link</a>,
<a href="link url">anotha link</a>

<div class="d">

<i>warms you up!</i>
The Goron spice used in this pilaf has given it a rich, spicy aroma.

</div>

    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" alt="hylian rice" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" alt="goat butter" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" alt="goron spice" width="25" height="25"></span>

<div class="tags">
<i>lunch </i>
<i>no pref </i>
<i>おいしい！！</i>
</div>
</article>

<article class="SPICY VEGETARIAN">

<h1>curry pilaf</h1> ::
<a href="link url">link</a>,
<a href="link url">anotha link</a>

<div class="d">

<i>warms you up!</i>
The Goron spice used in this pilaf has given it a rich, spicy aroma.

</div>

    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/hylian-rice.png" alt="hylian rice" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goat-butter.png" alt="goat butter" width="25" height="25"></span>
    <span><img src="https://www.guideofthewild.com/assets/images/cookingPot/ingredients/raw/goron-spice.png" alt="goron spice" width="25" height="25"></span>

<div class="tags">
<i>lunch </i>
<i>no pref </i>
<i>おいしい！！</i>
</div>
</article>

</section>
</div>
 
</body>
{% endblock %}
