{% extends "base.html" %}

{% block head %}
<title> {{name}} | Terms and Conditions </title>
{% endblock %}

{% block content %}


h1 {
  font-family:'Fraunces';
  font-size:14px;
  color:var(--heading);
  text-align:center;
  font-weight:500;
  margin:10px 0px 5px 0px;
  letter-spacing:0.5px;
}

h2 {
  font-size:10px;
  color:var(--heading);
  font-weight:400;
  margin:5px 0px;
  letter-spacing:0.4px;
}

h3 {
  font-family:'Fraunces';
  font-size:12px;
  font-style:italic;
  color:var(--heading);
  font-weight:500;
  margin:0px;
  letter-spacing:0.25px;
}

h4 {
 font-family:'Fraunces';
 font-size:12px;
 text-align:center;
}

h5{





<body>
<div class="###+css?">
    <div>
        <h1>Terms and Conditions</h1>
    </div>
    <div>
        <h4>Please read these terms and conditions carefully before using p2 slugs' Service.</h4>
        <p id="demo" style="font-size:30px"></p>
    </div>
    <br>
    <div>
        <h2 style="text-align:center;">Interpretations and Definitions</h2>
    </div>
    <br>
    <div>
        <h3 style="text-align:center;">Interpretation</h2>
        <h5 style="text-align:center;">The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</h5>
    </div>
    <br>
    <div>
        <h3 style="text-align:center;">Definitions</h2>
        <h5 style="text-align:center;">For the purposes of these Terms and Conditions: </h5>
        <p>Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.
        <p>Country refers to: California, United States
        <p>Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Recipe Box.
        <p>Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.
        <p>Service refers to our Website.
        <p>Terms and Conditions (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service. This Terms and Conditions agreement has been created with the help of the Terms and Conditions Generator.
        <p>Third-party Social Media Service means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.
        <p>Website refers to Recipe Box, accessible from http://recipebox.cf/
        <p>You means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.
    </div>
    <br>
    <div>
        <h2 style="text-align:center;">Acknowledgment</h2>
        <h5 style="text-align:center;">These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.
Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Service.
By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions then You may not access the Service.
You represent that you are over the age of 18. The Company does not permit those under 18 to use the Service.
Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your personal information when You use the Application or the Website and tells You about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before using Our Service.
        </h5>
    </div>
    <br>
    <div>
        <h2 style="text-align:center;">Links to Other Websites</h2>
        <h5 style="text-align:center;">Our Service may contain links to third-party web sites or services that are not owned or controlled by the Company. The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that the Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.
We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit. </h5>
    </div>
    <br>
    <div>
       <h2 style="text-align:center;">Disputes</h2>
       <h5 style="text-align:center;">Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court and you consent to exclusive jurisdiction and venue of such courts. </h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">Comments, Reviews, and Emails</h2>
        <h5 style="text-align:center;">Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.
            We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant the P2-Platypodes non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">License and Site Access</h2>
        <h5 style="text-align:center;">We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.</h5>
    </div>
    <hr>
    <div>
        <h2 style="text-align:center;">User Account</h2>
        <h5 style="text-align:center;">If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.
            We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.</h5>
    </div>

</div>
</body>

{% endblock %}
